// $body: #16161E, #192A3E;
$body: linear-gradient(to bottom, #16161E, #192A3E);
// $bg: #eaeaea;

$bg_white: #F2F2F2;
$bg_black: rgba(19, 16, 28, 0.98);

// TEXT COLORS
$txt_white: #ffffff;
$txt_black: #2D2E2C;
$header_txt: #2D2E2C;
$txt_grey: #92949B;
